tcp:
  routers:
    pelican-wings:
      entryPoints:
        - pelican-wings-main
        - pelican-wings-secure
        - pelican-wings-sftp
      rule: "HostSNI(`pelican-wings.local.thepasture.uk`)"
      service: pelican-wings-multiplex
      tls: {}
  services:
    pelican-wings-main:
      loadBalancer:
        servers:
          - address: "10.0.0.111:8080"
    pelican-wings-secure:
      loadBalancer:
        servers:
          - address: "10.0.0.111:8443"
    pelican-wings-sftp:
      loadBalancer:
        servers:
          - address: "10.0.0.111:2022"
    pelican-wings-multiplex:
      weighted:
        services:
          - name: pelican-wings-main
            weight: 1
          - name: pelican-wings-secure
            weight: 1
          - name: pelican-wings-sftp
            weight: 1
http:
 #region routers
  routers:
    proxmox:
      entryPoints:
        - "https"
      rule: "Host(`proxmox.local.thepasture.uk`)"
      middlewares:
        - default-headers
        - https-redirectscheme
      tls: {}
      service: proxmox
    pihole:
      entryPoints:
        - "https"
      rule: "Host(`pihole.local.thepasture.uk`)"
      middlewares:
        - default-headers
        - https-redirectscheme
        - pihole-root-redirect
      tls: {}
      service: pihole
    qbittorrent:
      entryPoints:
        - "https"
      rule: "Host(`qbittorrent.local.thepasture.uk`)"
      middlewares:
         - default-headers
         - https-redirectscheme
      tls: {}
      service: qbittorrent
    jellyfin:
      entryPoints:
        - "https"
      rule: "Host(`jellyfin.local.thepasture.uk`) || Host(`jellyfin.thepasture.uk`)"
      middlewares:
        - default-headers
        - https-redirectscheme
      tls: {}
      service: jellyfin
    sabnzbd:
      entryPoints:
        - "https"
      rule: "Host(`sabnzbd.local.thepasture.uk`)"
      middlewares:
        - default-headers
        - https-redirectscheme
      tls: {}
      service: sabnzbd
    syncthing:
      entryPoints:
        - "https"
      rule: "Host(`syncthing.local.thepasture.uk`)"
      middlewares:
        - default-headers
        - https-redirectscheme
      tls: {}
      service: syncthing
    duplicati:
      entryPoints:
        - "https"
      rule: "Host(`duplicati.local.thepasture.uk`)"
      middlewares:
        - default-headers
        - https-redirectscheme
      tls: {}
      service: duplicati
    pelican-panel:
      entryPoints:
        - "https"
      rule: "Host(`pelican-panel.local.thepasture.uk`)"
      middlewares:
        - default-headers
        - https-redirectscheme
      tls: {}
      service: pelican-panel
    nextcloud:
      entryPoints:
        - "https"
      rule: "Host(`cloud.local.thepasture.uk`)"
      middlewares:
        - default-headers
        - https-redirectscheme
      tls: {}
      service: nextcloud
    headphones:
      entryPoints:
        - "https"
      rule: "Host(`headphones.local.thepasture.uk`)"
      middlewares:
        - default-headers
        - https-redirectscheme
      tls: {}
      service: headphones
    opnsense:
      entryPoints:
        - "https"
      rule: "Host(`opnsense.local.thepasture.uk`)"
      middlewares:
        - default-headers
        - https-redirectscheme
      tls: {}
      service: opnsense
#endregion
#region services
  services:
    proxmox:
      loadBalancer:
        servers:
          - url: "https://10.0.0.200:8006"
        passHostHeader: true
    pihole:
      loadBalancer:
        servers:
          - url: "http://10.0.0.101"
        passHostHeader: true
    qbittorrent:
      loadBalancer:
        servers:
           - url: "http://10.0.0.107:8090"
        passHostHeader: true
    jellyfin:
      loadBalancer:
        servers:
          - url: "http://10.0.0.110:8096"
        passHostHeader: true
    sabnzbd:
      loadBalancer:
        servers:
          - url: "http://10.0.0.106:7777"
        passHostHeader: true
    syncthing:
      loadBalancer:
        servers:
          - url: "http://10.0.0.109:8384"
        passHostHeader: true
    duplicati:
      loadBalancer:
        servers:
          - url: "http://10.0.0.108:8200"
        passHostHeader: true
    pelican-panel:
      loadBalancer:
        servers:
          - url: "http://10.0.0.104:80"
        passHostHeader: true
    nextcloud:
      loadBalancer:
        servers:
          - url: "https://10.0.0.103"
        passHostHeader: true
    headphones:
      loadBalancer:
        servers:
          - url: "http://10.0.0.112:8181"
        passHostHeader: true
    opnsense:
      loadBalancer:
        servers:
          - url: "https://10.0.0.113"
        passHostHeader: true
#endregion
  middlewares:
    https-redirectscheme:
      redirectScheme:
        scheme: https
        permanent: true
    default-headers:
      headers:
        frameDeny: true
        browserXssFilter: true
        contentTypeNosniff: true
        forceSTSHeader: true
        stsIncludeSubdomains: true
        stsPreload: true
        stsSeconds: 15552000
        customFrameOptionsValue: SAMEORIGIN
        customRequestHeaders:
          X-Forwarded-Proto: https
    pihole-root-redirect:
      redirectRegex:
        regex: "^https?://([^/]+)/?$"
        replacement: "https://$1/admin"
        permanent: true
    default-whitelist:
      ipAllowList:
        sourceRange:
        - "10.0.0.0/24"
        - "172.16.0.0/12"
    secured:
      chain:
        middlewares:
        - default-whitelist
        - default-headers
        
