api:
  dashboard: true
  debug: true
entryPoints:
  http:
    address: ":80"
    http:
      redirections:
        entryPoint:
          to: https
          scheme: https
  https:
    address: ":443"
  pelican-wings-main:
    address: ":8080/tcp"
  pelican-wings-secure:
    address: ":8443/tcp"
  pelican-wings-sftp:
    address: ":2022/tcp"
  minecraft-tcp:
    address: ":25565/tcp"
  minecraft-udp:
    address: ":25565/udp"
  generic-tcp-games:
    address: "30000-30100/tcp"
  generic-udp-games:
    address: "30000-30100/udp"
serversTransport:
  insecureSkipVerify: true
providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false
  file:
    filename: /config.yaml
certificatesResolvers:
  cloudflare:
    acme:
      email: colefalxa@gmail.com
      storage: acme.json
      caServer: https://acme-v02.api.letsencrypt.org/directory # prod (default)
      #caServer: https://acme-staging-v02.api.letsencrypt.org/directory # staging
      dnsChallenge:
        provider: cloudflare
        #disablePropagationCheck: true # uncomment this if you have issues pulling certificates through cloudflare, By settin>
        #delayBeforeCheck: 60s # uncomment along with disablePropagationCheck if needed to ensure the TXT record is ready bef>
        resolvers:
          - "1.1.1.1:53"
          - "1.0.0.1:53"
