services:
  recyclarr:
    image: ghcr.io/recyclarr/recyclarr:latest
    container_name: recyclarr
    user: 1000:1000
    networks:
      - proxy
    volumes:
      - /opt/stacks/arr/recyclarr/config:/config
    environment:
      - TZ=America/Los_Angeles
      - RECYCLARR_CREATE_CONFIG=true
    restart: unless-stopped
  radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    networks:
      - proxy
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Los_Angeles
      - DOCKER_MODS=linuxserver/mods:radarr-striptracks
    volumes:
      - /opt/stacks/arr/radarr/config:/config
      - /tank/media:/tank/media
    ports:
      - 7878:7878
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.http.routers.radarr.rule=Host(`radarr.local.thepasture.uk`) || Host(`radarr.thepasture.uk`)
      - traefik.http.routers.radarr.entrypoints=https
      - traefik.http.routers.radarr.tls=true
      - traefik.http.services.radarr.loadbalancer.server.port=7878
  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    networks:
      - proxy
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Los_Angeles
      - DOCKER_MODS=linuxserver/mods:radarr-striptracks
    volumes:
      - /opt/stacks/arr/sonarr/config:/config
      - /tank/media:/tank/media
    ports:
      - 8989:8989
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.http.routers.sonarr.rule=Host(`sonarr.local.thepasture.uk`) || Host(`sonarr.thepasture.uk`)
      - traefik.http.routers.sonarr.entrypoints=https
      - traefik.http.routers.sonarr.tls=true
      - traefik.http.services.sonarr.loadbalancer.server.port=8989
  sonarra:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarra
    networks:
      - proxy
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Los_Angeles
      - DOCKER_MODS=linuxserver/mods:radarr-striptracks
    volumes:
      - /opt/stacks/arr/sonarra/config:/config
      - /tank/media:/tank/media
    ports:
      - 8999:8999
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.http.routers.sonarra.rule=Host(`sonarra.local.thepasture.uk`) || Host(`sonarra.thepasture.uk`)
      - traefik.http.routers.sonarra.entrypoints=https
      - traefik.http.routers.sonarra.tls=true
      - traefik.http.services.sonarra.loadbalancer.server.port=8999
  jellyseerr:
    image: fallenbagel/jellyseerr:latest
    container_name: jellyseerr
    networks:
      - proxy
    environment:
      - LOG_LEVEL=debug
      - TZ=America/Los_Angeles
    ports:
      - 5055:5055
    volumes:
      - /opt/stacks/arr/jellyseerr/app/config:/app/config
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.http.routers.jellyseerr.rule=Host(`jellyseerr.local.thepasture.uk`) || Host(`jellyseerr.thepasture.uk`)
      - traefik.http.routers.jellyseerr.entrypoints=https
      - traefik.http.routers.jellyseerr.tls=true
      - traefik.http.services.jellyseerr.loadbalancer.server.port=5055
  prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: prowlarr
    networks:
      - proxy
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Los_Angeles
    volumes:
      - /opt/stacks/arr/prowlarr/config:/config
    ports:
      - 9696:9696
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.http.routers.prowlarr.rule=Host(`prowlarr.local.thepasture.uk`)
      - traefik.http.routers.prowlarr.entrypoints=https
      - traefik.http.routers.prowlarr.tls=true
      - traefik.http.services.prowlarr.loadbalancer.server.port=9696
  # readarr:
  #   image: lscr.io/linuxserver/readarr:develop
  #   container_name: readarr
  #   networks:
  #     - proxy
  #   environment:
  #     - PUID=1000
  #     - PGID=1000
  #     - TZ=America/Los_Angeles
  #   volumes:
  #     - /opt/stacks/arr/readarr/config:/config
  #     - /tank/media/books:/tank/media/books
  #     - /tank/media/audiobooks:/tank/media/audiobooks
  #     - /tank/media/downloads:/tank/media/downloads
  #   ports:
  #     - 8787:8787
  #   restart: unless-stopped
  #   labels:
  #     - traefik.enable=true
  #     - traefik.http.routers.readarr.rule=Host(`readarr.local.thepasture.uk`) || Host(`readarr.thepasture.uk`)
  #     - traefik.http.routers.readarr.entrypoints=https
  #     - traefik.http.routers.readarr.tls=true
  #     - traefik.http.services.readarr.loadbalancer.server.port=8787
  # lidarr:
  #   image: lscr.io/linuxserver/lidarr:latest
  #   container_name: lidarr
  #   networks:
  #     - proxy
  #   environment:
  #     - PUID=1000
  #     - PGID=1000
  #     - TZ=America/Los_Angeles
  #   volumes:
  #     - /opt/stacks/arr/lidarr/config:/config
  #     - /tank/media/music:/tank/media/music #optional
  #     - /tank/media/downloads:/tank/media/downloads #optional
  #   ports:
  #     - 8686:8686
  #   restart: unless-stopped
  #   labels:
  #     - traefik.enable=true
  #     - traefik.http.routers.lidarr.rule=Host(`lidarr.local.thepasture.uk`) || Host(`lidarr.thepasture.uk`)
  #     - traefik.http.routers.lidarr.entrypoints=https
  #     - traefik.http.routers.lidarr.tls=true
  #     - traefik.http.services.lidarr.loadbalancer.server.port=8686
  bazarr:
    image: lscr.io/linuxserver/bazarr:latest
    container_name: bazarr
    networks:
      - proxy
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Los_Angeles
    volumes:
      - /opt/stacks/arr/bazarr/config:/config
      - /tank/media/movies:/tank/media/movies #optional
      - /tank/media/shows:/tank/media/shows #optional
    ports:
      - 6767:6767
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.http.routers.bazarr.rule=Host(`bazarr.local.thepasture.uk`)
      - traefik.http.routers.bazarr.entrypoints=https
      - traefik.http.routers.bazarr.tls=true
      - traefik.http.services.bazarr.loadbalancer.server.port=6767
  metube:
    image: ghcr.io/alexta69/metube
    container_name: metube
    restart: unless-stopped
    # ports:
      # - "8081:8081"
    volumes:
      - /tank/media/downloads/youtube:/downloads
    networks:
      - proxy
    labels:
      - traefik.enable=true
      - traefik.http.routers.metube.rule=Host(`metube.local.thepasture.uk`)
      - traefik.http.routers.metube.entrypoints=https
      - traefik.http.routers.metube.tls=true
      - traefik.http.services.metube.loadbalancer.server.port=8081
networks:
  proxy:
    external: true
